<!DOCTYPE HTML>
<html>
<head>
    <title>Incoming packages</title>
    <link rel="stylesheet" href="[% base_url %]/css/main.css" />
</head>
<body>
<div id="topbar"><a id="logout-link" href="?rm=logout">Log out</a></div>

<h1>Error</h1>

<p>Some error(s) occurred:</p>

<ul>
[% FOREACH error = errors %]
    <li>[% FILTER html %][% error.error %][% END %][% IF error.output %] Command output was:<pre>[% FILTER html %][% error.output %][% END %]</pre>[% END %]</li>
[% END %]
</ul>
</body>
</html>
