<!DOCTYPE HTML>
<html>
<head>
    <title>Repository</title>
    <link rel="stylesheet" href="[% base_url %]/css/main.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
<div id="topbar"><a accesskey="h" title="Home" href="arepa.cgi">Home</a><a id="logout-link" href="?rm=logout">Log out</a></div>
