[% INCLUDE header.tmpl %]

<div id="sidebar">
  <h1>Compilation queue</h1>

  <div id="compilation-queue-list">
    [% FOREACH comp = compilation_queue %]
      <div class="compilation-queue-line">
        <span class="package-name">[% comp.package.name %]_[% comp.package.full_version %][% IF comp.builder %] <span class="builder-info">(claimed by <span class="builder-name">[% comp.builder %]</span>)</span>[% END %]</span>
        <span class="compilation-props">
          (<span class="compilation-prop">arch: <span class="compilation-prop-value">[% comp.package.architecture %]</span></span>;
          <span class="compilation-prop">distro: <span class="compilation-prop-value">[% comp.distribution %]</span></span>;
          <span class="compilation-prop">requested: <span class="compilation-prop-value date">[% comp.compilation_requested_at %]</span></span>)
        </span>
      </div>
    [% END %]
  </div>

  <h1>Latest packages (<a accesskey="r" title="Repository" href="arepa.cgi?rm=view_repo">all</a>)</h1>

  <div id="compilation-queue-list">
    [% FOREACH comp = latest_compilations %]
      <div class="compilation-queue-line">
        <span class="package-name">[% comp.package.name %]_[% comp.package.full_version %]</span>
        <span class="compilation-props">
          (<span class="compilation-prop">arch: <span class="compilation-prop-value">[% comp.package.architecture %]</span></span>;
          <span class="compilation-prop">distro: <span class="compilation-prop-value">[% comp.distribution %]</span></span>;
          <span class="compilation-prop">builder: <span class="compilation-prop-value">[% comp.builder %]</span></span>;
          <span class="compilation-prop">compiled: <span class="compilation-prop-value date">[% comp.compilation_completed_at %]</span></span>)
        </span>
      </div>
    [% END %]
  </div>
</div>

<div id="main">
<h1>Packages pending approval</h1>

[% IF packages.size == 0 %]
No packages pending in <tt>[%
config.get_key('upload_queue:path') %]</tt>
[% ELSE %]
<div id="incoming-package-list">
[% package_count = 0 %]
[% FOREACH package = packages %]
    [% package_count = package_count + 1 %]
    <form method="post" action="arepa.cgi">
        <div class="incoming-package">
            <span class="incoming-package-name urgency-[% package.urgency %]">[% package.name %]</span>
            <span class="incoming-package-version">[% package.version %]</span>
            <div class="incoming-package-info">
                <span class="incoming-package-attr compilation-props compilation-prop">
                    Binary packages:
                    <span class="compilation-prop-value">[% package.binary_packages.join(", ") %]</span>
                </span>

                <span class="incoming-package-attr compilation-props compilation-prop">
                    Maintainer:
                    <span class="compilation-prop-value">[% package.maintainer | html %] [% IF package.maintainer != package.changed_by %](<em>But changed by [% package.changed_by | html %]</em>)[% END %]</span>
                </span>

                <span class="incoming-package-attr compilation-props compilation-prop">
                    Distribution:
                    <span class="compilation-prop-value">[% package.distribution %]</span>
                </span>

                <span class="incoming-package-attr compilation-props compilation-prop">
                    Signed by:
                    <span class="compilation-prop-value">[% IF package.signature_id %][% package.signature_id %][% ELSE %][not signed][% END %] ([% IF package.correct_signature == 1 %]<span class="valid-signature">Valid signature</span>[% ELSE %]<span class="invalid-signature">Not valid signature</span>[% END %])</span>
                </span>

                <span class="incoming-package-attr compilation-props compilation-prop">
                    Comments:
                    <span class="compilation-prop-value"><input type="text" size="60" name="comments-[% package_count %]" value="" /></span>
                </span>
            </div>

            <input type="hidden" name="rm" value="process" />
            <input type="hidden" name="package-[% package_count %]" value="[% package.path %]" />
            <input type="hidden" name="component-[% package_count %]" value="main" />
            <span class="compilation-props">
                <input name="approve" type="submit" value="Approve" />
                for priority <select name="priority-[% package_count %]" value="">
                    <option name="extra">extra</option>
                    <option name="optional" selected="selected">optional</option>
                    <option name="standard">standard</option>
                    <option name="important">important</option>
                    <option name="required">required</option>
                </select>
                and section <select name="section-[% package_count %]">
                    <option name="admin">admin</option>
                    <option name="cli-mono">cli-mono</option>
                    <option name="comm">comm</option>
                    <option name="database">database</option>
                    <option name="devel">devel</option>
                    <option name="debug">debug</option>
                    <option name="doc">doc</option>
                    <option name="editors">editors</option>
                    <option name="electronics">electronics</option>
                    <option name="embedded">embedded</option>
                    <option name="fonts">fonts</option>
                    <option name="games">games</option>
                    <option name="gnome">gnome</option>
                    <option name="graphics">graphics</option>
                    <option name="gnu-r">gnu-r</option>
                    <option name="gnustep">gnustep</option>
                    <option name="hamradio">hamradio</option>
                    <option name="haskell">haskell</option>
                    <option name="httpd">httpd</option>
                    <option name="interpreters">interpreters</option>
                    <option name="java">java</option>
                    <option name="kde">kde</option>
                    <option name="kernel">kernel</option>
                    <option name="libs">libs</option>
                    <option name="libdevel">libdevel</option>
                    <option name="lisp">lisp</option>
                    <option name="localization">localization</option>
                    <option name="mail">mail</option>
                    <option name="math">math</option>
                    <option name="misc">misc</option>
                    <option name="net">net</option>
                    <option name="news">news</option>
                    <option name="ocaml">ocaml</option>
                    <option name="oldlibs">oldlibs</option>
                    <option name="otherosfs">otherosfs</option>
                    <option name="perl">perl</option>
                    <option name="php">php</option>
                    <option name="python">python</option>
                    <option name="ruby">ruby</option>
                    <option name="science">science</option>
                    <option name="shells">shells</option>
                    <option name="sound">sound</option>
                    <option name="tex">tex</option>
                    <option name="text">text</option>
                    <option name="utils">utils</option>
                    <option name="vcs">vcs</option>
                    <option name="video">video</option>
                    <option name="web">web</option>
                    <option name="x11">x11</option>
                    <option name="xfce">xfce</option>
                    <option name="zope">zope</option>
                </select>
            </span>
            <span class="compilation-props">
                <input name="reject" type="submit" value="Reject" onclick="return confirm('Are you sure?')" />
            </span>
        </div>
    </form>
[% END %]
[% FOREACH unreadable_package = unreadable_packages %]
    <div class="incoming-unreadable-package">
        [% unreadable_package %] [UNREADABLE]
    </div>
[% END %]
</div>

    <form method="post" action="">
        [% FOREACH package = packages %]
        <input type="hidden" name="packages" value="[% package.path %]" />
        [% END %]
        <input type="hidden" name="rm" value="process_all" />
        <input type="hidden" name="component" value="main" />
        <div class="option-buttons">
            <input type="submit" value="Approve all" />
        </div>
    </form>
[% END %]





<h1>Builder status</h1>

<div id="builder-status-list">
[% IF builders.size == 0 %]
<span class="warning">You haven't defined any builders yet? Go create some with:</span>
<pre>
arepa-admin createbuilder &lt;builder-dir&gt; &lt;mirror&gt; &lt;distribution&gt;
</pre>
E.g.:
<pre>
arepa-admin createbuilder /var/chroot/mybuilder ftp://ftp.se.debian.org/debian squeeze
</pre>
[% ELSE %]
[% FOREACH builder = builders %]
  <div class="builder-line">
    <span class="builder-status">[% IF builder.status == 'compiling' %]Compiling [% builder.package.name %]_[% builder.package.full_version %]<br/>since [% builder.since %][% ELSE %]Idle[% END %]</span>
    <span class="builder-name">[% builder.name %]</span>
    <span class="builder-props">
      <span class="builder-prop">arch: <span class="builder-prop-value">[% builder.architecture %]</span></span>
      <span class="builder-prop">distro: <span class="builder-prop-value">[% builder.distribution %]</span></span>
    </span>
  </div>
[% END %]
[% END %]
</div>





<h1>Latest compilation failures</h1>

<div id="compilation-failure-list">
[% IF failed_compilations.size == 0 %]
<span class="warning">No failed compilations yet.</span>
[% ELSE %]
[% FOREACH compilation = failed_compilations %]
  <div class="failed-compilation-line">
    <div class="compilation-options">
      <a href="[% cgi_base_url %]/arepa.cgi?rm=build_log&amp;id=[% compilation.id %]">[See build log]</a> -
      <a href="[% cgi_base_url %]/arepa.cgi?rm=requeue&amp;id=[% compilation.id %]">[Requeue]</a>
    </div>
    <span class="package-name">[% compilation.package.name %]_[% compilation.package.full_version %]</span>
    on
    <span class="builder-name">[% compilation.builder %]</span>
    <span class="compilation-props">
      <span class="compilation-prop">requested: <span class="compilation-prop-value date">[% compilation.compilation_completed_at %]</span></span>
      <span class="compilation-prop">started: <span class="compilation-prop-value date">[% compilation.compilation_completed_at %]</span></span>
      <span class="compilation-prop">finished: <span class="compilation-prop-value date">[% compilation.compilation_completed_at %]</span></span>
    </span>
  </div>
[% END %]
[% END %]
</div>
[% INCLUDE footer.tmpl %]
