[% INCLUDE header.tmpl %]

[% USE HTML %]

<div id="main">
<h1>Repository contents</h1>

<div id="repo-package-list">
[% FOREACH package IN packages.keys.sort %]
  <div class="repo-package-line">
    <span class="package-name">[% package %]</span>
    [% FOREACH comp IN packages.$package.keys.sort %]
    <span class="repo-package-info">
      <span class="repo-package-component-info">[% comp %]:
        [% FOREACH version IN packages.$package.$comp.keys.sort %]
            <span class="repo-package-version">[% version %]</span>
            ([% FOREACH arch IN packages.$package.$comp.$version %]
                [%- IF arch == "source" AND comments.$package.$version -%]
<span class="source-package-name" [% HTML.attributes(title => comments.$package.$version) %]">[% arch %] (*)</span>
                [%- ELSE -%]
                   [%- arch -%]
                [%- END -%]
             [%- UNLESS loop.last %], [% END %]
             [%- END %])
            [%- UNLESS loop.last %],[% END %]
        [% END %]
        </span>
    </span>
    [% END %]
  </div>
[% END %]
</div>
[% INCLUDE footer.tmpl %]
